  /*Header*/
  header{
    background-color: var(--main-dark-color);
    color: var(--main-clear-color);
    justify-content: space-between;
    align-items: center;
    height:auto;
  }
  .mainTitleBlock{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }
  /* Appliquer un style différent pour les écrans de petite taille */
@media screen and (max-width: 768px) {
  header {
    background-image: none; /* Supprime l'image de fond */
  }
}

  header H1, header p{
    text-align: center;
  }
  .logo{
    margin:40px 40px 0px 40px;
    height:40px;
  }
  .mainsubtitle{
    font-family: "myTitleFont",Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0px 40px 20px 40px;
  }

  /*@media only screen and (max-width: 600px){
    .logo{display:none;}
  }*/

  /*End header*/
/**********************/