.contacts-container{
  display: flex;
  min-height: 50vh;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.contacts{
  color: var(--main-dark-color);
  list-style-type: none; /* Supprime les puces */
  padding: 0;
  margin: 0;
  display: flex; /* Active Flexbox sur le conteneur <ul> */
  flex-direction:column;
}
.contacts li{
  padding: 10px;
}
.contacts a{
  text-decoration: none;
  color: var(--main-clear-color);
font-size: 1.6em;
}
.contacts a:hover {
  color: var(--secondary-blue-color);
  text-decoration-line: underline;
  font-weight: bold;
}