.contacts-container{
  display: flex;
  min-height: 50vh;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-clear-color);
}
.contacts{
  color: var(--main-dark-color);
  list-style-type: none; /* Supprime les puces */
  padding: 0;
  margin: 0;
  display: flex; /* Active Flexbox sur le conteneur <ul> */
  flex-direction:column;
  space-between; /* Distribue les éléments avec des espaces égaux */
}
.contacts li{
  padding: 10px;
  background-color: lightblue;
  border: 1px solid #ccc;
}
.contacts a{
  text-decoration: none;
  color: var(--main-dark-color);
font-size: 1.6em;
}
.contacts a:hover {
  color: var(--secondary-blue-color);
  background-color: var(--main-dark-color);
  font-weight: bold;
}